@tailwind base;
@tailwind components;
@tailwind utilities;

/* Set default background to dark mode */
body {
  @apply bg-black text-white transition-all duration-300 dark:bg-white dark:text-black;
  width: 100vw;
  font-family: "Montserrat", sans-serif;
  overflow-x: hidden;
}

.animatedButton {
  animation-duration: 10000ms;
}

.ql-container, .ql-toolbar, .ql-editor {
  border: none !important;
}

@keyframes shimmer {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}

.animate-shimmer {
  animation: shimmer 1.5s infinite linear;
}

@keyframes gradientBorder {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.animate-gradient-border {
  background-size: 200% 200%;
  animation: gradientBorder 4s ease infinite;
}

.bg-glass {
  background: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(10px);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Correctly wrap these properties in a class or element selector */
.text-ellipsis {
  overflow: hidden;
  text-overflow: ellipsis; /* Shows "..." for truncated text */
  white-space: nowrap; /* Prevents wrapping to the next line */
}
@keyframes shimmer {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}

.animate-shimmer {
  animation: shimmer 1.5s infinite;
  background-size: 200% 100%;
}
body {
  font-family: 'Arial', sans-serif;
  background-color: #f4f4f4;
}

.App {
  max-width: 800px;
  margin: 20px auto;
}

button {
  cursor: pointer;
}

.preview-content img {
  max-width: 100%;
  display: block;
  margin: 20px 0;
}

.preview-content video {
  width: 100%;
  max-width: 700px;
  display: block;
  margin: 20px 0;
}

