@tailwind base;
@tailwind components;
@tailwind utilities;

/* Set default background to dark mode */
body {
  @apply bg-black text-white transition-all duration-300 dark:bg-white dark:text-black;
  width: 100vw;
  font-family: "Montserrat", sans-serif;
  overflow-x: hidden;
}

.animatedButton {
  animation-duration: 10000ms;
}

.ql-container, .ql-toolbar, .ql-editor {
  border: none !important;
}
@keyframes shimmer {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}

.animate-shimmer {
  animation: shimmer 1.5s infinite linear;
}
